@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600&display=swap");
body {
  padding: 0;
  margin: 0;
  background-color: #2e2e2e;
  color: whitesmoke;
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
}
.Nav-Container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 10vh;
  background-color: #191919;
}
.empty {
  height: 20px;
}
.Navigations {
  display: flex;
  align-items: center;
}
.Title {
  font-size: 3vh;
  font-weight: 300;
  /* margin-left:4vh ; */
}
.social-temp {
  width: 100%;
}
.logos {
  margin-top: 5vh ;
  text-align: center;
  padding-top: 1vh;
  height: 100%;
}
.logos > a {
  padding-left: 3vh;
}
.Intro {
  width: 100%;

  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
  position: sticky;
  top: 10vh;
  text-align: center;
}
.real-content {
  background-color: #191919;
  height: 100%;
  color: rgb(255, 255, 255);
}
.content {
  background-color: #191919;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 30px;
}
.Intro > h1 {
  margin-top: -7vh;
  font-size: 8vh;
}
.introduction {
  display: block;
  font-size: 10vh;
}
.Main-NavContainer {
  position: sticky;
  top: 0;
}

.Social-icons > a {
  padding-left: 2vh;
  margin-right: 2vh;
}
.arrow {
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4vh;
  margin-top: 8vh;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
ul {
  list-style-type: none;
  display: flex;
  height: 100%;
  text-align: center;
  margin-bottom: 0;
  padding: 0;
  text-align: center;
  display: inline-block;
  width: 17rem;
}
li {
  display: inline-block;
  padding-right: 2vh;
  font-size: 2.5vh;
}
.Nav {
  align-items: center;
}
.Social-icons {
  width: 17rem;
}
.heading {
  text-align: center;
  font-size: 4rem;
}
a {
  text-decoration: none;
  color: white;
}
.contacts {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin-top: 12vw;
  text-align: center;
  padding-bottom: 5vw;
  padding-left: 1vw;
  padding-right: 1vw;
  background-color: #191919;
  transition: all 4s ease-in-out;
}
.form-control {
  /* color: white; */
  
  
  width: 90vw;
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  /* outline: 1px white solid; */
}
.form-control-msg{
  width: 90vw;


  background: #2e2e2e;
  border:  1px solid white;
 border-radius: 2%;
 color: white;
}
form {
  margin-top: 5vw;
  color: white;
}
form .submit{
  background-color: rgb(49, 41, 27);
  font-weight: 600;
  color: white;
  letter-spacing: 2px;
}
form .submit:hover{
  background-color: rgb(127, 103, 61);
  font-weight: 600;
  color: white;
  letter-spacing: 2px;
}
@media screen and (max-width: 800px) {
  .menulines {
    height: 4px;
    width: 30px;
    background-color: white;
    margin: 6px;
  }
  .menu {
    position: absolute;
    right: 2vh;
    top: 2vh;
  }
  li {
    /* display: block; */
    border: 1px solid white;
    width: 90vw;
    padding: 2vw;
  }
  ul {
    width: unset;
    display: block;
    margin-top: 9vh;
    padding-left: 0;
  }
  .Nav-Container {
    position: sticky;
    top: 0;
    height: 18rem;
    flex-direction: column;
    display: none;
  }
  .Title {
    position: absolute;
    left: 2vh;
    top: 2vh;
  }
  .Social-icons {
    width: unset;
    padding-bottom: 1vh;
  }
  .active {
    display: flex;
  }
}
